body {
  background-color: #000;
  font-family: arial;
  color: #ccc;
}

.main {
  margin: 5rem;
  border: 1px solid #ccc;
  padding: 2em;
}

.rules{
  clear: both;
}

nav ul li {
  display: inline;
}

.card {
  margin: 2em;
  padding: 2em;
  border-radius: 5px;
  display: inline-block;
}

.card > img {
  height: 200px;
  width: 150px;
}

footer {
  background-color: #F15323;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer p {
  padding: 20px;
  font-style: italic;
  color: #000;
}

.card h3{
  position: absolute;
}

.email-signup {
  background-color: #73B31F;
}
